<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                  <div class="widget wblue">
                      <div data-cc-widget-header title="Sign in to access the Primer Database and Design Tool"></div>
                      <div class="widget-content text-left text-info">
                    <form class="form-inline" role="form">
                        <div class="form-group form-group-sm">
                            <div class="input-group">
                                <label class="sr-only" for="exampleInputEmail2">Username</label>
                                <input type="text" class="form-control input-sm" id="exampleInputEmail2" placeholder="Enter username" ng-model="vm.credentials.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control input-sm" id="exampleInputPassword2" placeholder="Password" ng-model="vm.credentials.password">
                        </div>
                        <button  class="btn btn-default" ng-click='vm.signin()'>Sign in</button>
                    </form>
                          This web application manages ordering and designing of PCR primers.
                      </div>
                </div>
                </div>
            </div>

            <div class="row">

                <!-- Primers for order -->
                <div class="col-md-6">
                    <div class="widget wblue">
                        <div data-cc-widget-header title="Primers awaiting order" allow-collapse="true"></div>
                        <div class="widget-content">
                            <table class="table table-striped" ng-repeat="node in vm.primersRequestedForOrder" ng-if="$index > 0">
                                <thead>
                                    <tr>
                                        <th>Primer Name</th>
                                        <th>5' Mod</th>
                                        <th>Primer Sequence</th>
                                        <th>3' Mod</th>
                                        <th>Purification</th>
                                        <th>Scale (uM)</th>
                                        <th>Supplier</th>
                                        <th>Requester</th>
                                        <th>Requested</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="node2 in node">
                                    <td>{{ node2.order.data.PrimerName }}</td>
                                    <td>{{ node2.order.data.FivePrimeModification }}</td>
                                    <td>{{ node2.primer.data.PrimerSequence }}</td>
                                    <td>{{ node2.order.data.ThreePrimeModification }}</td>
                                    <td>{{ node2.order.data.Purification }}</td>
                                    <td>{{ node2.order.data.Scale }}</td>
                                    <td>{{ node2.order.data.Supplier }}</td>
                                    <td>{{ node2.user.data.UserName }}</td>
                                    <td><mydate>{{ node2.requestedBy.data.Date | date:'dd-MM-yy' }}</mydate></td>
                                </tr>
                            </table>
                            <p>
                                <div class="form-group">
                                    <button class="btn btn-info" data-ng-click="vm.orderPrimers()"><i class="glyphicon glyphicon-ok-circle"></i>Order</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Primers for receipt -->
                <div class="col-md-6">
                    <div class="widget wblue">
                        <div data-cc-widget-header title="Primers awaiting receipt" allow-collapse="true"></div>
                        <div class="widget-content">
                            <table class="table table-striped" ng-repeat="node in vm.primersAwaitingReceipt" ng-if="$index > 0">
                                <thead>
                                    <tr>
                                        <th>Primer Name</th>
                                        <th>5' Mod</th>
                                        <th>Primer Sequence</th>
                                        <th>3' Mod</th>
                                        <th>Purification</th>
                                        <th>Scale (uM)</th>
                                        <th>Supplier</th>
                                        <th>Requester</th>
                                        <th>Ordered</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="node2 in node">
                                    <td>{{ node2.order.data.PrimerName }}</td>
                                    <td>{{ node2.order.data.FivePrimeModification }}</td>
                                    <td>{{ node2.primer.data.PrimerSequence }}</td>
                                    <td>{{ node2.order.data.ThreePrimeModification }}</td>
                                    <td>{{ node2.order.data.Purification }}</td>
                                    <td>{{ node2.order.data.Scale }}</td>
                                    <td>{{ node2.order.data.Supplier }}</td>
                                    <td>{{ node2.user.data.UserName }}</td>
                                    <td><mydate>{{ node2.orderedBy.data.Date | date:'dd-MM-yy' }}</mydate></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</section>
