<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Primer Database and Design Tool</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" data-ng-controller="topnav as vm">        
        <div class="pull-right navbar-logo">

            <div class="nav navbar-nav pull-right">
                <h2>{{vm.username}}</h2>
            </div>
            
        </div>
    </div>
</nav>
