<section class="mainbar" data-ng-controller="create as vm">
    <section class="matter">
        <div class="container">
            <div class="row">

                <!-- Automated design new primer pair -->
                <div class="widget wblue">
                    <div data-cc-widget-header title="Add Auto Design" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-6">

                                <form class="form-horizontal" role="form">
                                     <div class="form-group">
                                         <input type="text" class="form-control" placeholder="Enter Region of Interest" data-ng-model="vm.newAutoRegionOfInterest">
                                     </div>
                                     <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.runPrimerDesigner()"><i class="glyphicon glyphicon-pencil"></i>Add</button>
                                        <button class="btn btn-info" data-ng-click="vm.newAutoRegionOfInterest = '';"><i class="glyphicon glyphicon-remove-sign"></i>Clear</button>
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add new manual primer -->
                <div class="widget wblue">
                    <div data-cc-widget-header title="Add Custom Design" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div class="row">

                            <div class="col-md-4">

                                 <form class="form-horizontal" role="form">
                                     <div class="form-group">
                                         <input type="text" class="form-control" placeholder="Enter Upstream Primer Sequence" data-ng-model="vm.newManualUpstreamPrimerSequence">
                                     </div>
                                     <div class="form-group">
                                         <input type="text" class="form-control" placeholder="Enter Downstream Primer Sequence" data-ng-model="vm.newManualDownstreamPrimerSequence">
                                     </div>
                                     <div class="form-group">
                                         <input type="text" class="form-control" placeholder="Enter Target Region (GRCh37/hg19)" data-ng-model="vm.newManualTargetRegion">
                                     </div>
                                       <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.addManualPrimer()"><i class="glyphicon glyphicon-pencil"></i>Add</button>
                                        <button class="btn btn-info" data-ng-click="vm.newManualAssayName = ''; vm.newManualTargetRegion = ''; vm.newManualUpstreamPrimerSequence = ''; vm.newManualDownstreamPrimerSequence = ''; vm.newManualUpstreamPrimerTm = ''; vm.newManualDownstreamPrimerTm = ''; vm.newManualDownstreamPrimerComments = ''; vm.newManualUpstreamPrimerComments = ''; vm.newManualSNPDBExcluded = '';"><i class="glyphicon glyphicon-remove-sign"></i>Clear</button>
                                    </div>
                                 </form>
                                 
                            </div>

                            <div class="col-md-4">

                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Upstream Primer Tm" data-ng-model="vm.newManualUpstreamPrimerTm">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Downtream Primer Tm" data-ng-model="vm.newManualDownstreamPrimerTm">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="SNP exclusion database(s) used" data-ng-model="vm.newManualSNPDBExcluded">
                                    </div>
                                 </form>

                            </div>

                            <div class="col-md-4">

                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Comments" data-ng-model="vm.newManualUpstreamPrimerComments">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Comments" data-ng-model="vm.newManualDownstreamPrimerComments">
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </section>
    
</section>
