<section class="mainbar" data-ng-controller="query as vm">
    <section class="matter">
        <div class="container">
            <div class="row">

                <!-- assay search section -->
                <div class="widget wblue">
                    <div data-cc-widget-header title="Search by Target Region" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div class="row">
                            
                            <div class="col-md-4">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Target Region" data-ng-model="vm.targetRegion">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.runTargetRegionQuery()"><i class="glyphicon glyphicon-search"></i>Search</button>
                                        <button class="btn btn-info" data-ng-click="vm.targetRegion = ''"><i class="glyphicon glyphicon-remove-sign"></i>Clear</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11">

                                <table class="table table-striped" ng-repeat="node in vm.regionofInterestNodes" ng-if="$index > 0">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">#</th>
                                            <th class="col-md-1">Info</th>
                                            <th class="col-md-1">View</th>
                                            <th class="col-md-1">Contig</th>
                                            <th class="col-md-1">Start</th>
                                            <th class="col-md-1">End</th>
                                            <th class="col-md-1">Upstream Sequence</th>
                                            <th class="col-md-1">Tm</th>
                                            <th class="col-md-1">Downstream Sequence</th>
                                            <th class="col-md-1">Tm</th>
                                            <th class="col-md-1">Size</th>
                                            <th class="col-md-1">Genome</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat-start="node2 in node">
                                        <td>{{ $index + 1 }}</td>
                                        <td>
                                            <button ng-if="vm.assayInfoExpanded[$index] == undefined || !vm.assayInfoExpanded[$index]" class="glyphicon glyphicon-plus" ng-click="vm.assayInfoExpanded[$index] = true">
                                            </button>
                                            <button ng-if="vm.assayInfoExpanded[$index]" class="glyphicon glyphicon-minus" ng-click="vm.assayInfoExpanded[$index] = false">
                                            </button>
                                        </td>
                                        <td><button ng-click="vm.bedFeatureForIGV = node2.assay.data; vm.loadIGV()"><img src="../content/images/igv.png"></button></td>
                                        <td>{{ node2.assay.data.Contig }}</td>
                                        <td>{{ node2.assay.data.StartPos }}</td>
                                        <td>{{ node2.assay.data.EndPos }}</td>
                                        <td>{{ node2.upstreamPrimer.data.PrimerSequence }}</td>
                                        <td>{{ node2.upstreamPrimer.data.Tm }}</td>
                                        <td>{{ node2.downstreamPrimer.data.PrimerSequence }}</td>
                                        <td>{{ node2.downstreamPrimer.data.Tm }}</td>
                                        <td>{{ node2.assay.data.EndPos - node2.assay.data.StartPos }}</td>
                                        <td>{{ node2.assay.data.ReferenceGenome }}</td>
                                        <tr ng-if="vm.assayInfoExpanded[$index]" ng-repeat-end="">
                                            <td></td>
                                            <td ng-if="node2.user.data.UserName != null">Accepted by: {{ node2.user.data.UserName }}<mydate> {{node2.checker.data.Date | date:'dd-MM-yy'}}</mydate></td>
                                            <td ng-if="node2.user.data.UserName == null"><button ng-click="vm.checkedAssayNodeId = node2.assay.id; vm.addCheckedBy()"></button>Accept Assay</td>
                                            <td ng-if="node2.upstreamPrimer.data.Comments != null">Upstream Primer Comments: {{node2.upstreamPrimer.data.Comments}}</td>
                                            <td ng-if="node2.downstreamPrimer.data.Comments != null">Downstream Primer Primer Comments: {{node2.downstreamPrimer.data.Comments}}</td>
                                            <td ng-if="node2.upstreamPrimer.data.SNPDB != null">Upstream Primer Primer SNP check: {{node2.upstreamPrimer.data.SNPDB}}</td>
                                            <td ng-if="node2.downstreamPrimer.data.SNPDB != null">Downstream Primer Primer SNP check: {{node2.downstreamPrimer.data.SNPDB}}</td>
                                        </tr>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Primer Sequence search section -->
                <div class="widget wblue">
                    <div data-cc-widget-header title="Primer Sequence" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div class="row">
                            
                            <div class="col-md-4">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Primer Sequence" data-ng-model="vm.primerSequence">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.runPrimerSequenceQuery()"><i class="glyphicon glyphicon-search"></i>Search</button>
                                        <button class="btn btn-info" data-ng-click="vm.primerSequence = ''"><i class="glyphicon glyphicon-remove-sign"></i>Clear</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-5">

                                <table class="table table-striped" ng-repeat="node in vm.primerSequenceNodes" ng-if="$index > 0">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">#</th>
                                            <th class="col-md-1">Info</th>
                                            <th class="col-md-1">Sequence</th>
                                            <th class="col-md-1">Tm</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat-start="node2 in node">
                                        <td class="col-md-1">{{ $index + 1 }}</td>
                                        <td class="col-md-1">
                                            <button ng-if="vm.primerSequenceInfoExpanded[$index] == undefined || !vm.primerSequenceInfoExpanded[$index]" class="glyphicon glyphicon-plus" ng-click="vm.primerSequenceInfoExpanded[$index] = true">
                                            </button>
                                            <button ng-if="vm.primerSequenceInfoExpanded[$index]" class="glyphicon glyphicon-minus" ng-click="vm.primerSequenceInfoExpanded[$index] = false">
                                            </button>
                                        </td>
                                        <td class="col-md-1">{{ node2.primer.data.PrimerSequence }}</td>
                                        <td class="col-md-1">{{ node2.primer.data.Tm }}</td>
                                        <tr ng-if="vm.primerSequenceInfoExpanded[$index]" ng-repeat-end="">
                                            <td></td>
                                            <td colspan="3">
                                                Name: {{ node2.order.data.PrimerName }},
                                                Purification: {{ node2.order.data.Purification }},
                                                Supplier: {{ node2.order.data.Supplier }},
                                                Scale: {{ node2.order.data.Scale }},
                                                LotNumber: {{ node2.order.data.LotNumber }},
                                                StorageLocation: {{ node2.storageLocation.data.Location }},
                                                Ordered By: {{ node2.orderedBy.data.FullName }},
                                                Received By: {{ node2.receivedBy.data.FullName }}
                                            </td>
                                        </tr>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Primer Name search section -->
                <div class="widget wblue">
                    <div data-cc-widget-header title="Primer Name" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div class="row">
                            
                            <div class="col-md-4">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Primer Name" data-ng-model="vm.primerName">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.runPrimerNameQuery()"><i class="glyphicon glyphicon-search"></i>Search</button>
                                        <button class="btn btn-info" data-ng-click="vm.primerName = ''"><i class="glyphicon glyphicon-remove-sign"></i>Clear</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-5">
                                <table class="table table-striped" ng-repeat="node in vm.primerNameNodes" ng-if="$index > 0">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">#</th>
                                            <th class="col-md-1">Info</th>
                                            <th class="col-md-1">Name</th>
                                            <th class="col-md-1">Sequence</th>
                                            <th class="col-md-1">Tm</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="node2 in node">
                                        <td>{{ $index + 1 }}</td>
                                        <td><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-info-sign"></span></button></td>
                                        <td>{{ node2.order.data.PrimerName }}</td>
                                        <td>{{ node2.primer.data.PrimerSequence }}</td>
                                        <td>{{ node2.primer.data.Tm }}</td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>

                    </div>
                </div>

                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </section>
</section>