<section class="mainbar" data-ng-controller="query as vm">
    <section class="matter">
        <div class="container">
            <div class="row">

                <!-- assay search section -->
                <div class="widget wblue">
                    <div data-cc-widget-header title="Search by Target Region" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div class="row">
                            
                            <div class="col-md-4">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Amplification Region (GRCh37/hg19)" data-ng-model="vm.targetRegion">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.runTargetRegionQuery()"><i class="glyphicon glyphicon-search"></i>Search</button>
                                        <button class="btn btn-info" data-ng-click="vm.targetRegion = ''"><i class="glyphicon glyphicon-remove-sign"></i>Clear</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table table-striped" ng-repeat="node in vm.regionofInterestNodes" ng-if="$index > 0">
                                    <thead>
                                        <tr>
                                            <th>Info</th>
                                            <th>View</th>
                                            <th>Contig</th>
                                            <th>Start</th>
                                            <th>End</th>
                                            <th>Upstream Sequence</th>
                                            <th>Tm</th>
                                            <th>Downstream Sequence</th>
                                            <th>Tm</th>
                                            <th>Size</th>
                                            <th>Genome</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="node2 in node">
                                        <tr>
                                            <td>
                                                <button ng-if="vm.assayInfoExpanded[$index] == undefined || !vm.assayInfoExpanded[$index]" class="glyphicon glyphicon-plus-sign" ng-click="vm.assayInfoExpanded[$index] = true">
                                                </button>
                                                <button ng-if="vm.assayInfoExpanded[$index]" class="glyphicon glyphicon-minus-sign" ng-click="vm.assayInfoExpanded[$index] = false">
                                                </button>
                                            </td>
                                            <td><input type="image" src="../content/images/igv.png" ng-click="vm.bedFeatureForIGV.Contig = node2.assay.data.Contig; vm.bedFeatureForIGV.StartPos = node2.assay.data.StartPos; vm.bedFeatureForIGV.EndPos = node2.assay.data.EndPos; vm.bedFeatureForIGV.primer1 = node2.primer1.data.PrimerSequence; vm.bedFeatureForIGV.primer2 = node2.primer2.data.PrimerSequence; vm.downloadBEDFile();"/></td>
                                            <td>{{ node2.assay.data.Contig }}</td>
                                            <td>{{ node2.assay.data.StartPos }}</td>
                                            <td>{{ node2.assay.data.EndPos }}</td>
                                            <td>{{ node2.primer1.data.PrimerSequence }}</td>
                                            <td>{{ node2.primer1.data.Tm }}</td>
                                            <td>{{ node2.primer2.data.PrimerSequence }}</td>
                                            <td>{{ node2.primer2.data.Tm }}</td>
                                            <td>{{ (node2.assay.data.EndPos - node2.assay.data.StartPos) + node2.primer1.data.PrimerSequence.length + node2.primer2.data.PrimerSequence.length }}</td>
                                            <td>{{ node2.assay.data.ReferenceGenome }}</td>
                                            <tr ng-show="vm.assayInfoExpanded[$index]">
                                                <th></th>
                                                <th>Designer</th>
                                                <th>Checked</th>
                                                <th>Upstream Primer Comments</th>
                                                <th>Downstream Primer Comments</th>
                                                <th>Upstream Primer SNP check</th>
                                                <th>Downstream Primer SNP check</th>
                                            </tr>
                                            <tr ng-show="vm.assayInfoExpanded[$index]">
                                                <td></td>
                                                <td>{{node2.designerUser.data.UserName}}</td>
                                                <td ng-show="node2.user.data.UserName != null">{{ node2.user.data.UserName }} <mydate>{{ node2.checker.data.Date | date:'dd-MM-yy' }}</mydate></td>
                                                <td ng-show="node2.user.data.UserName == null"><button ng-click="vm.checkedAssayNodeId = node2.assay.id; vm.checkedAssayDesignedBy = node2.designerUser.data.UserName; vm.addCheckedBy()"><i class="glyphicon glyphicon-thumbs-up"></i></button></td>
                                                <td ng-show="node2.primer1.data.Comments != null">{{node2.primer1.data.Comments}}</td>
                                                <td ng-show="node2.primer2.data.Comments != null">{{node2.primer2.data.Comments}}</td>
                                                <td ng-show="node2.primer1.data.SNPDB != null">{{node2.primer1.data.SNPDB}}</td>
                                                <td ng-show="node2.primer2.data.SNPDB != null">{{node2.primer2.data.SNPDB}}</td>
                                            </tr>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Primer Sequence search section -->
                <div class="widget wblue">
                    <div data-cc-widget-header title="Primer Sequence" allow-collapse="true"></div>
                    <div class="widget-content">

                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Primer Sequence" data-ng-model="vm.primerSequence">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.runPrimerSequenceQuery()"><i class="glyphicon glyphicon-search"></i>Search</button>
                                        <button class="btn btn-info" data-ng-click="vm.primerSequence = ''"><i class="glyphicon glyphicon-remove-sign"></i>Clear</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped" ng-repeat="node in vm.primerSequenceNodes" ng-if="$index > 0">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1">Order</th>
                                        <th class="col-md-1">Info</th>
                                        <th class="col-md-1">Tm</th>
                                        <th class="col-md-3" colspan="3">Name</th>
                                        <th class="col-md-3" colspan="3">Sequence (5'-3')</th>
                                        <th class="col-md-3" colspan="3">Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="node2 in node">
                                    <tr>
                                        <td>
                                            <button ng-if="vm.primerSequenceOrderExpanded1[$index] == undefined || !vm.primerSequenceOrderExpanded1[$index]" ng-click="vm.primerSequenceOrderExpanded1[$index] = true" class="glyphicon glyphicon-plus-sign"></button>
                                            <button ng-if="vm.primerSequenceOrderExpanded1[$index]" ng-click="vm.primerSequenceOrderExpanded1[$index] = false" class="glyphicon glyphicon-minus-sign"></button>
                                        </td>
                                        <td>
                                            <button ng-if="vm.primerSequenceInfoExpanded1[$index] == undefined || !vm.primerSequenceInfoExpanded1[$index]" ng-click="vm.primerSequenceInfoExpanded1[$index] = true" class="glyphicon glyphicon-plus-sign"></button>
                                            <button ng-if="vm.primerSequenceInfoExpanded1[$index]" ng-click="vm.primerSequenceInfoExpanded1[$index] = false" class="glyphicon glyphicon-minus-sign"></button>
                                        </td>
                                        <td>{{ node2.primer.data.Tm }}</td>
                                        <td colspan="3">{{ node2.order.data.PrimerName }}</td>
                                        <td colspan="3">{{ node2.primer.data.PrimerSequence }}</td>
                                        <td colspan="3">{{ node2.primer.data.Comments }}</td>
                                    </tr>
                                    <tr ng-show="vm.primerSequenceInfoExpanded1[$index]">
                                        <td class="col-md-1"></td>
                                        <td class="col-md-11" colspan="11">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-1">Designer</th>
                                                    <th class="col-md-1">Requester</th>
                                                    <th class="col-md-1">Supplier</th>
                                                    <th class="col-md-1">Receiver</th>
                                                    <th class="col-md-1">Lot Number</th>
                                                    <th class="col-md-1">Location </th>
                                                    <th class="col-md-1">Tag</th>
                                                    <th class="col-md-1">Scale</th>
                                                    <th class="col-md-1">Purification</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>{{ node2.enterUser.data.UserName }} <mydate>{{ node2.enteredBy.data.Date | date:'dd-MM-yy' }}</mydate></td>
                                                    <td>{{ node2.requesterUser.data.UserName }} <mydate>{{ node2.requestedBy.data.Date | date:'dd-MM-yy' }}</mydate></td>
                                                    <td>{{ node2.order.data.Supplier }}</td>
                                                    <td ng-show="node2.receiveUser.data.UserName != null">{{ node2.receiveUser.data.UserName }} <mydate>{{ node2.receivedBy.data.Date | date:'dd-MM-yy' }}</mydate></td><td ng-show="node2.receiveUser.data.UserName == null"><button ng-click="vm.receivedOrderNodeId = node2.order.id; vm.addReceivedBy();">Received</button></td>
                                                    <td ng-show="node2.order.data.LotNumber != null">{{ node2.order.data.LotNumber }}</td><td ng-show="node2.order.data.LotNumber == null"><input type="text" class="form-control" placeholder="Enter Lot Number" data-ng-model="vm.lotNumber"></td>
                                                    <td ng-show="node2.storageLocation.data.Location != null">{{ node2.storageLocation.data.Location }}</td><td ng-show="node2.storageLocation.data.Location == null"><input type="text" class="form-control" placeholder="Enter Location" data-ng-model="vm.storageLocation"></td>
                                                    <td ng-show="node2.m13f.data != null">M13F</td><td ng-show="node2.m13r.data != null">M13R</td><td ng-show="node2.m13r.data == null && node2.m13f.data == null"></td>
                                                    <td>{{ node2.order.data.Scale }}</td>
                                                    <td>{{ node2.order.data.Purification }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr ng-show="vm.primerSequenceOrderExpanded1[$index]">
                                        <td class="col-md-1"></td>
                                        <td class="col-md-11" colspan="11">
                                            <table class="table">
                                                <tbody>
                                                <tr ng-show="vm.primerSequenceOrderExpanded1[$index]">
                                                    <td class="col-md-1"><button class="glyphicon glyphicon-shopping-cart" data-ng-click="vm.primerSequenceToBuyID = node2.primer.id;vm.requestPrimer(); vm.newPrimerFivePrimerMod = ''; vm.newPrimerName = ''; vm.newPrimerThreePrimerMod = ''; vm.selectedScale = vm.primerUMScales[0]; vm.selectedPurification = vm.primerPurifications[0]; vm.selectedSupplier = vm.primerSuppliers[0]"></button></td>
                                                    <td class="col-md-1"><select ng-init="vm.selectedM13 = vm.primerM13Tag[0]" data-ng-model="vm.selectedM13" data-ng-options="M13 for M13 in vm.primerM13Tag"></select></td>
                                                    <td class="col-md-1"><input type="text" class="form-control" placeholder="5' Mod" data-ng-model="vm.newPrimerFivePrimerMod"></td>
                                                    <td class="col-md-2" colspan="2"><input type="text" class="form-control" placeholder="Primer Name" data-ng-model="vm.newPrimerName"></td>
                                                    <td class="col-md-1"><input type="text" class="form-control" placeholder="3' Mod" data-ng-model="vm.newPrimerThreePrimerMod"></td>
                                                    <td class="col-md-1"><select ng-init="vm.selectedScale = vm.primerUMScales[0]" data-ng-model="vm.selectedScale" data-ng-options="scale for scale in vm.primerUMScales"></select></td>
                                                    <td class="col-md-1"><select ng-init="vm.selectedPurification = vm.primerPurifications[0]" data-ng-model="vm.selectedPurification" data-ng-options="purification for purification in vm.primerPurifications"></select></td>
                                                    <td class="col-md-1"><select ng-init="vm.selectedSupplier = vm.primerSuppliers[0]" data-ng-model="vm.selectedSupplier" data-ng-options="supplier for supplier in vm.primerSuppliers"></select></td>
                                                    <td class="col-md-1"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Primer Name search section -->
                <div class="widget wblue">
                    <div data-cc-widget-header title="Primer Name" allow-collapse="true"></div>
                    <div class="widget-content">

                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Primer Name" data-ng-model="vm.primerName">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.runPrimerNameQuery()"><i class="glyphicon glyphicon-search"></i>Search</button>
                                        <button class="btn btn-info" data-ng-click="vm.primerName = ''"><i class="glyphicon glyphicon-remove-sign"></i>Clear</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped" ng-repeat="node in vm.primerNameNodes" ng-if="$index > 0">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1">Order</th>
                                        <th class="col-md-1">Info</th>
                                        <th class="col-md-1">Tm</th>
                                        <th class="col-md-3" colspan="3">Name</th>
                                        <th class="col-md-3" colspan="3">Sequence (5'-3')</th>
                                        <th class="col-md-3" colspan="3">Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="node2 in node">
                                    <tr>
                                        <td>
                                            <button ng-if="vm.primerSequenceOrderExpanded2[$index] == undefined || !vm.primerSequenceOrderExpanded2[$index]" ng-click="vm.primerSequenceOrderExpanded2[$index] = true" class="glyphicon glyphicon-plus-sign"></button>
                                            <button ng-if="vm.primerSequenceOrderExpanded2[$index]" ng-click="vm.primerSequenceOrderExpanded2[$index] = false" class="glyphicon glyphicon-minus-sign"></button>
                                        </td>
                                        <td>
                                            <button ng-if="vm.primerSequenceInfoExpanded2[$index] == undefined || !vm.primerSequenceInfoExpanded2[$index]" ng-click="vm.primerSequenceInfoExpanded2[$index] = true" class="glyphicon glyphicon-plus-sign"></button>
                                            <button ng-if="vm.primerSequenceInfoExpanded2[$index]" ng-click="vm.primerSequenceInfoExpanded2[$index] = false" class="glyphicon glyphicon-minus-sign"></button>
                                        </td>
                                        <td>{{ node2.primer.data.Tm }}</td>
                                        <td colspan="3">{{ node2.order.data.PrimerName }}</td>
                                        <td colspan="3">{{ node2.primer.data.PrimerSequence }}</td>
                                        <td colspan="3">{{ node2.primer.data.Comments }}</td>
                                    </tr>
                                    <tr ng-show="vm.primerSequenceInfoExpanded2[$index]">
                                        <td class="col-md-1"></td>
                                        <td class="col-md-11" colspan="11">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-1">Designer</th>
                                                    <th class="col-md-1">Requester</th>
                                                    <th class="col-md-1">Supplier</th>
                                                    <th class="col-md-1">Receiver</th>
                                                    <th class="col-md-1">Lot Number</th>
                                                    <th class="col-md-1">Location </th>
                                                    <th class="col-md-1">Tag</th>
                                                    <th class="col-md-1">Scale</th>
                                                    <th class="col-md-1">Purification</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>{{ node2.enterUser.data.UserName }} <mydate>{{ node2.enteredBy.data.Date | date:'dd-MM-yy' }}</mydate></td>
                                                    <td>{{ node2.requesterUser.data.UserName }} <mydate>{{ node2.requestedBy.data.Date | date:'dd-MM-yy' }}</mydate></td>
                                                    <td>{{ node2.order.data.Supplier }}</td>
                                                    <td ng-show="node2.receiveUser.data.UserName != null">{{ node2.receiveUser.data.UserName }} <mydate>{{ node2.receivedBy.data.Date | date:'dd-MM-yy' }}</mydate></td><td ng-show="node2.receiveUser.data.UserName == null"><button ng-click="vm.receivedOrderNodeId = node2.order.id; vm.addReceivedBy();">Received</button></td>
                                                    <td ng-show="node2.order.data.LotNumber != null">{{ node2.order.data.LotNumber }}</td><td ng-show="node2.order.data.LotNumber == null"><input type="text" class="form-control" placeholder="Enter Lot Number" data-ng-model="vm.lotNumber"></td>
                                                    <td ng-show="node2.storageLocation.data.Location != null">{{ node2.storageLocation.data.Location }}</td><td ng-show="node2.storageLocation.data.Location == null"><input type="text" class="form-control" placeholder="Enter Location" data-ng-model="vm.storageLocation"></td>
                                                    <td ng-show="node2.m13f.data != null">M13F</td><td ng-show="node2.m13r.data != null">M13R</td><td ng-show="node2.m13r.data == null && node2.m13f.data == null"></td>
                                                    <td>{{ node2.order.data.Scale }}</td>
                                                    <td>{{ node2.order.data.Purification }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr ng-show="vm.primerSequenceOrderExpanded2[$index]">
                                        <td class="col-md-1"></td>
                                        <td class="col-md-11" colspan="11">
                                            <table class="table">
                                                <tbody>
                                                <tr ng-show="vm.primerSequenceOrderExpanded2[$index]">
                                                    <td class="col-md-1"><button class="glyphicon glyphicon-shopping-cart" data-ng-click="vm.primerSequenceToBuyID = node2.primer.id;vm.requestPrimer(); vm.newPrimerFivePrimerMod = ''; vm.newPrimerName = ''; vm.newPrimerThreePrimerMod = ''; vm.selectedScale = vm.primerUMScales[0]; vm.selectedPurification = vm.primerPurifications[0]; vm.selectedSupplier = vm.primerSuppliers[0]"></button></td>
                                                    <td class="col-md-1"><select ng-init="vm.selectedM13 = vm.primerM13Tag[0]" data-ng-model="vm.selectedM13" data-ng-options="M13 for M13 in vm.primerM13Tag"></select></td>
                                                    <td class="col-md-1"><input type="text" class="form-control" placeholder="5' Mod" data-ng-model="vm.newPrimerFivePrimerMod"></td>
                                                    <td class="col-md-2" colspan="2"><input type="text" class="form-control" placeholder="Primer Name" data-ng-model="vm.newPrimerName"></td>
                                                    <td class="col-md-1"><input type="text" class="form-control" placeholder="3' Mod" data-ng-model="vm.newPrimerThreePrimerMod"></td>
                                                    <td class="col-md-1"><select ng-init="vm.selectedScale = vm.primerUMScales[0]" data-ng-model="vm.selectedScale" data-ng-options="scale for scale in vm.primerUMScales"></select></td>
                                                    <td class="col-md-1"><select ng-init="vm.selectedPurification = vm.primerPurifications[0]" data-ng-model="vm.selectedPurification" data-ng-options="purification for purification in vm.primerPurifications"></select></td>
                                                    <td class="col-md-1"><select ng-init="vm.selectedSupplier = vm.primerSuppliers[0]" data-ng-model="vm.selectedSupplier" data-ng-options="supplier for supplier in vm.primerSuppliers"></select></td>
                                                    <td class="col-md-1"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </section>
</section>